/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 160; /*Purple 250 - Green 157 - Blue 230 - Pink 340*/

    /* HSL color mode */
/*     --first-color: hsl(var(--hue-color), 100%, 35%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 63%, 57%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color:#fff;
}

h1, h2, h3, h4 {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.justify{
  text-align: justify;
}

.green{
  color: hsl(var(--hue-color), 100%, 35%);
}
/*==================== LAYOUT ====================*/
section{
  padding: 3rem 0 5rem 0;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

/*==================== HOME ====================*/
.img_home{
  width: 80%;
  justify-self: center;
  align-self: center;
  margin-top: -3rem;
}

.home_img{
  margin-bottom: -3rem;
}

/*==================== BUTTON ====================*/
.button{
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}

/*==================== DOR ====================*/
.bgwhite{
  background-color: var(--title-color);
  color: var(--body-color);
  padding: 3rem 0 5rem 0;
}

.dor{
  margin-top: var(--mb-3);
}

/*==================== BENEFÍCIOS ====================*/
.bw{
  background-color: white;
  color: black;
  line-height: 2rem;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 3rem;
  width:fit-content;
  justify-self: center;
  align-self: center;
  text-align: left;
  box-shadow: 0 1px 4px 0 rgb(0, 255, 200), 0 2px 50px 0 rgb(0, 255, 200);
}

.check_ben{
  color: var(--first-color);
  margin-right: 0.5rem;
}

/*==================== SOBRE ====================*/
.ben{
  background-color: var(--body-color);
  color: white;
  padding: 2rem;
  border-radius: 3rem;
  width: 12rem;
  height: 12rem;
  box-shadow: 8px 8px 10px hsl(var(--hue-color), 12%, 36%);
}

.sobre_container{
  grid-template-columns: repeat(3, 1fr);
}

.sobre_icons{
  font-size: 3rem;
  color: hsl(var(--hue-color), 100%, 35%);
}

/*==================== PARA QUEM ====================*/
.quem{
  background-color: var(--input-color);
  border-radius: 3rem;
  line-height: 2rem;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 3rem;
  width:fit-content;
  justify-self: center;
  align-self: center;
  text-align: left;
}

/*==================== DEPOIMENTOS ====================*/
.testimonial__data,
.testimonial__header{
  display:flex; 
}

.testimonial__data{
  justify-content:space-between;
  margin-bottom: var(--mb-1);
}

.testimonial__img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial__name{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial__client{
  font-size: var(--small-font-size);
  color:var(--text-color-light);
}

.testimonial__description{
  margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star{
  color: var(--first-color);
}

.swiper .swiper-pagination-testimonial{
  bottom:0;
}

/*==================== SOLUÇÃO ====================*/
.section__subtitle{
  margin-bottom: var(--mb-3);
  margin-top: -2rem;
}

.img_sol{
  border-radius: 1rem;
  margin-top: -1rem;
  border: 0.2rem solid whitesmoke;
}

/*==================== ENTREGÁVEIS ====================*/
.img_entregavel{
  border-radius: 1rem;
  margin-top: -2rem;
  width: 100%;
}

.entregaveis{
  background-color: var(--body-color);
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.preco{
  border-style:solid;
  border-radius: 1rem;
  padding: 3rem;
  margin-top: -2em;
}

.desc{
  margin-top: 2rem;
}

.btn_checkout{
  display: block;
}

.bigtitle{
  font-size: 4rem;
}
/*==================== FAQ ====================*/
.skills__container{
  row-gap: 0;
}

.skills__header{
  display:flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
  border-style: solid;
  padding: 1rem 1rem 0 1rem;
  border-radius: 1rem;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon{
  margin-right:var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills__subtitle{ 
  font-size:var(--small-font-size);
  color:var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}

.skills__html{
  width: 85%;
}

.skills__css{
  width: 75%;
}

.skills__js{
  width: 55%;
}



.skills__php{
  width: 70%;
}

.skills__sql{
  width: 90%;
}

.skills__python{
  width: 60%;
}



.skills__figma{
  width: 80%;
}

.skills__krita{
  width: 75%;
}

.skills__photoshop{
  width: 85%;
}


.skills__close .skills__list{
  height: 0;
  overflow:hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color:var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 540px){
  .sobre_container{
    grid-template-columns: repeat(1, 1fr);
  }
  .ben{
    justify-self: center;
    align-self: center;
  }
}

/* For medium devices */
@media screen and (min-width: 541px){
  .sobre_container{
    grid-template-columns: repeat(2, 1fr);
  }
  .ben{
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 700px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  .sobre_container{
    grid-template-columns: repeat(3, 1fr);
  }
  .ben{
    justify-self: center;
    align-self: center;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding:0;
  }
}
